@charset "UTF-8";
header {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: 0px 0px;
	margin-bottom: 25px;
	text-align: left;
}

a {
}
body {
	margin-left: auto;
	margin-right: auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	width: 800px;
	line-height: 18px;
}
main {
	padding-top: auto;
	padding-bottom: auto;
}

footer {
	text-align: center;
	margin-bottom: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}
.bigname {
	font-size: 18px;
}
.titlename {
	font-size: 36px;
}
.body-header-div {
	font-size: 12px;
	margin-top: 20px;
	text-align: right;
}
.keyword {
	color: #D59517;
}
.venue {
	color: #C61E1E;
}
.proverb {
	font-size: 9px;
	text-decoration: none;
	color: #555555;
}
h1 {
	padding-bottom: 0px;
	margin-bottom: -6px;
}
hr {
	border-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	min-width: 0px;
	text-shadow: 0px 0px;
	opacity: 0.2;
}
h2 {
    margin-bottom: -14px;
}
